<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  
  <section>
    <h1>Posts</h1>

    <article>
      <% posts.forEach((item) => { %>
        <div class="post">
          <h2><%= item.title %></h2>
          <p><%= item.content %></p>
          <% if (item.stars) { %>
            <% for( let index = 0; index < item.stars; index++ ) { %>
              <img src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/star-icon.png" width="20">
            <% } %>
          <% } %>
        </div>
      <% }) %>
    </div>
  </section>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/foot.ejs') %>
</body>
</html>